.main-content{
    background-color: var(--clr-secondary);
    flex: 2;
    padding: 32px;
}

@media screen and(max-width: 1400px) {
    .main-content{
        padding:0 20px;
    }
}
@media screen and(max-width: 1200px) {
    .main-content{
        padding:0 16px;
    }
}